# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# env files
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# misc
.DS_Store
*.pem
.idea/
.vscode/
